.button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;    
    -moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
    box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
    -moz-box-sizing: border-box !important;
    cursor: pointer;
    display: inline-block;
    font: 13px/100% 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    line-height: 16px;
    outline: none !important;
    padding: 4px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.button:hover {
    text-decoration: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; }